body {
    background-color:#fff;
    margin:0;
    font-family: 'Open Sans', 'Verdana','Arial','Helvetica', sans-serif;
}

#main {
    margin-top:30px;
    padding-left:380px;
    height:510px;

    background-image:url(pics/cat.png);
    background-position:left top;
    background-repeat: no-repeat;
}

#foot {
    padding:10px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    margin:50px 0px 10px 0px;
    font-size:5em;
    color: #ae0303;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #b2b2b2;
    font-size:2.0em;
    margin-top:20px;
    width:150px;
    float:left;
}

.box {
    float:left;
    width:400px;
    border-left:4px solid #ccc;
    margin-top:20px;
    min-height:60px;
    padding-left:10px;
    font-size:1em;
    color:#000;
}

.box a {
    color:#000;
}

#dates li {
    margin-bottom:3px;
}

#dates .date {
    width:80px;
    float:left;
    text-align:right;
    font-weight:bold;
    color:#ae0303;
}

#dates .desc {
    float:left;
    padding-left:5px;
    width:280px;
}
