body {
    background-color:#fff;
    margin:0;
    font-family: 'Open Sans', 'Verdana','Arial','Helvetica', sans-serif;
}

p {
    margin-bottom:20px;
}

#main {
    position:relative;
}

#cat {
    position:absolute;
    top:0;
    left:0;

    width:380px;
    height:350px;

    background-image:url(pics/cat.png);
    background-position:left top;
    background-repeat: no-repeat;
}

#content {
    margin-top:30px;
    margin-left:400px;
}

#foot {
    padding:10px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    margin:50px 0px 10px 0px;
    font-size:5em;
    color: #ae0303;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    color: #b2b2b2;
    font-size:2.0em;
    margin-bottom:10px;
}

#nav {
    width:150px;
    float:left;
}

#body {
    float:left;
    border-left:4px solid #b2b2b2;
    padding-left:10px;
    min-height:400px;
    width:400px;
    line-height:1.2em;
}

#body a {
    color: #ae0303;
}

.page {
    display:none;
}

#nav a {
    font-family: 'Open Sans', sans-serif;
    color: #b2b2b2;
    font-size:2.0em;
    text-decoration:none;
}

#nav a.high {
    color: #ae0303;
}

#nav li {
    margin-bottom:10px;
}

.box a {
    color: #ae0303;
    text-decoration:none;
}

.dates li {
    margin-bottom:14px;
    line-height:25px;
}

.dates .date {
    width:80px;
    float:left;
    text-align:right;
    font-weight:bold;
    color:#ae0303;
}

.dates .desc {
    float:left;
    padding-left:8px;
    width:300px;
}

.dates .past div {
    text-decoration:line-through;
}